.prose p {
  margin-top: 0;
  margin-bottom: 0;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror {
  min-height: 400px;
  padding: 1rem;
}

.prose
  :where(strong):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline;
}

/* * {
  page-break-inside: auto;
  page-break-inside: avoid;

  page-break-inside: inherit;
  page-break-inside: initial;
  page-break-inside: revert;
  page-break-inside: revert-layer;
  page-break-inside: unset;
} */
